:root{
    --background-color: #000540;
    --background-calc: #151797;
    --background-elements: #000448;
    --color-buttons: #3A00AF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calcContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 32px;
    background-color: var(--background-calc);
    max-height: 660px;
    max-width: 560px;
    width: 80%;
    border-radius: 20px;
}


.calcContainer .painel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--background-elements);
    height: 107px;
    max-width: 492px;
    width: 100%;
    border-radius: 10px;
    padding-right: 20px;
    font-size: 50px;
}

.buttons{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--background-elements);
    align-items: center;
    justify-content: center;
    height: 443px;
    max-width: 423px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.leftGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 20px;
}

.leftGrid button{
    margin-right: 10px;
}

.rightGrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    width: auto;
    margin: 0 auto;
    padding-right: 20px;
    gap: 20px;
}

.buttons button{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: none;
    font-size: 40px;
    background-color: var(--color-buttons);
    color: white;
    cursor: pointer;
}

@media (max-width: 450px) {
    .calcContainer{
        height: 500px;

    }
    .buttons button{
        font-size: 30px;
        width: 46px;
        height: 46px;
    }
}